/* dark theme stylesheet */

#background{
    -fx-background-image: url("../images/background_lightning_dark_mode.png");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;
}

#playButton {
    -fx-color: #D9B421;
}

#playButton:hover{
    -fx-color: #238723;
}

#utilsButton {
    -fx-color: #4D5C6EB5;
}

#utilsButton:hover{
    -fx-color: #238723;
}

#label {
    -fx-text-fill: #fffc00;
}

#nicknameField{
    -fx-text-fill: #fffc00;
}

