#pane{
    -fx-background-image: url("../images/background_lightning.png");
    -fx-background-repeat: repeat;
    -fx-background-position: top left;
    -fx-min-height: 600;
    -fx-min-width: 800;
}